<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f1942598-024a-4e2a-8e11-28297ab3defd&lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body>
    <div id="map" class="map"></div>
<button id="test">test</button>
</body>
</html>
